@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.main__btn-base {
  @apply capitalize font-light text-2xl relative px-5 py-1 flex border-2 border-black;
}

html, body{
  overflow-x: hidden !important;
}

.main__btn-decoration {
  @apply after:w-full after:h-full after:absolute after:left-[.35rem] after:top-[.4rem] after:bg-decoration-1 after:z-[-1] after:opacity-0 after:transition-opacity after:duration-500 hover:after:opacity-100;
}

.enroll__form__title {
  @apply text-[40px] sm:text-[50px] font-bold;
}

.enroll__form__description {
  @apply text-[20px] sm:text-[25px] font-light;
}

.main__btn-decoration--base {
  @apply w-full h-full absolute left-[.35rem] top-[.4rem] bg-decoration-1 -z-10 opacity-0 after:transition-opacity after:duration-500;
}

.main__btn {
  @apply main__btn-base main__btn-decoration;
}

.enroll__btn {
  @apply capitalize font-light text-[25px] lg:text-[40px] relative px-5 py-1 mx-auto flex border-2 border-black main__btn-decoration;
}

.slick-track {
  display: flex !important;
}
body,
html {
  overflow-x: hidden;
}

.figure::after {
  clip-path: polygon(40px 0, 100% 0, 100% 100%, 0% 100%);
}

.lazy-div {
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.slick-slide {
  height: inherit !important;
}

.slick-list {
  padding-top: 70px !important;
}

.title {
  @apply xl:text-[60px] sm:text-[50px] text-[50px];
}

body::before {
  content: "";
  display: block;
  width: 100%;
  height: 138px;
  bottom: 0px;
  position: absolute;
}

.slick-slide > div,
.slick-slide > div > div {
  height: 100% !important;
}

.slick-slide > div > div {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
/* .slick-active:nth-child(odd) > div > div {
  @apply bg-primary;
} */
.text-border {
  -webkit-text-stroke: 1px black;
}

html {
  scroll-behavior: smooth;
}

.menu {
  @apply relative w-7 h-[2px] after:w-7 after:top-2 after:bg-black after:h-[2px] after:absolute after:left-0 before:w-7 before:h-[2px] before:absolute before:left-0 before:-top-2 before:bg-black;
}
/* .slick-current + .slick-slide > div >div{
  @apply bg-primary
} */

/* .slick-active  {
  border: 2px solid red !important;
} */

/* @media only screen and (max-width: 1024px) and (min-width: 800px){
  .slick-current + .slick-slide > div >div{
    @apply bg-primary
  }
} */

.slick-current + .slick-slide > div > div {
  @apply lg:bg-testimonials-card lg:scale-110 relative z-10 -translate-y-10;
}

.slick-slide > div > div {
  @apply bg-grey;
}

.course-trapezoid {
  clip-path: polygon(0 0, 100% 3%, 100% 97%, 0% 100%);
  @apply absolute top-1/2 -translate-y-1/2 h-[80%] bg-secondary w-0 md:w-5 lg:w-[4vh] left-0 !important;
}

.about-trapezoid {
  clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0% 100%);
  @apply absolute bottom-1 left-0 w-[40%] h-[70px] bg-decoration-1 hidden lg:block;
}

.zoomIn {
  animation: zoomIn 1.5s forwards, addOverflow 0.5s forwards 2s;

}

.zoomIn > .background {
  animation: popupBackground 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}



@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes addOverflow {
  from {
    overflow-y: hidden;
  }
  to{
    overflow-y: scroll;
  }
}


@keyframes popupBackground {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}
